<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>申请银行卡</title>
    <div th:replace="~{commons/headdoc.html::headdoc}"></div>
</head>
<body>

<div th:replace="~{commons/topbar.html::topbar}"></div>
<div id="panel" class="container-fluid">
    <div class="row">

        <div th:replace="~{commons/sidebar.html::sidebar(first='card',second='add')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <form th:action="@{/card/add}" method="post">
                <div class="form-group">
                    <label>请输入密码</label>
                    <input type="password" class="form-control" name="pwd">
                </div>

                <div class="form-group">
                    <label>请重新输入密码</label>
                    <input type="password" class="form-control" name="pwd2">
                </div>

                <button type="submit" class="btn btn-primary">确定</button>
            </form>
            <div>
                <button style="display: none" id="alert_demo_3_2"> Error</button>
                <button style="display: none" id="alert_demo_3_3"> Success</button>
            </div>
        </main>
    </div>
</div>
<div th:replace="~{commons/jsdoc.html::jsdoc}"></div>

</body>
</html>