<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard Template for Bootstrap</title>
    <div th:replace="~{commons/headdoc.html::headdoc}"></div>
</head>

<body>

<div th:replace="~{commons/topbar.html::topbar}"></div>

<div id="panel" class="container-fluid">
    <div class="row">

        <div th:replace="~{commons/sidebar.html::sidebar(first='log',second='query')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">


            <form th:action="@{/log/query}" style="display: flex;" method="post">
                <div class="form-group" style="width: 206px;">
                    <label>按卡号查询</label>
                    <select class="form-control" name="cid">
                        <option th:each="card:${cards}"
                                th:text="${card.getCid()}"
                                th:value="${card.getCid()}">
                        </option>
                    </select>
                </div>

                <div class="form-group" style="margin-left: 77px;">
                    <label>按日期查询</label><br>
                    <input type="text" class="form-control" style="display: inline" placeholder="起始日期" name="date1" id="date1">
                </div>
                <div class="form-group">
                    <label>&nbsp;</label>
                    <input type="text" class="form-control" style="display: inline" placeholder="终止日期" name="date2" id="date2">
                </div>

                <button type="submit" style="height: 50px; margin-top: 38px;" class="btn btn-primary">确认</button>
            </form>


            <div class="table-responsive">
                <table class="table table-striped table-sm" th:if="${not #strings.isEmpty(logs)}">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>转入卡</th>
                        <th>转出卡</th>
                        <th>金额</th>
                        <th>类型</th>
                        <th>日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="log:${logs}">
                        <td th:text="${log.getLid()}"></td>
                        <td th:text="${log.getCid1()==0?'————————————————':log.getCid1()}"></td>
                        <td th:text="${log.getCid2()==0?'————————————————':log.getCid2()}"></td>
                        <td th:text="${log.getAmount()}"></td>
                        <td th:text="${log.getOperation()}"></td>
                        <td th:text="${#dates.format(log.getDate(),'yyyy-MM-dd HH:mm:ss')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button style="display: none" id="alert_demo_3_2"> Error</button>
                <button style="display: none" id="alert_demo_3_3"> Success</button>
            </div>
        </main>
    </div>
</div>

<div th:replace="~{commons/jsdoc.html::jsdoc}"></div>
<!-- 改成你的路径 -->
<script th:src="@{/laydate/laydate.js}"></script>
<script>
    lay('#version').html('-v'+ laydate.v);

    //执行一个laydate实例
    laydate.render({
        elem: '#date1'
    });
    //执行一个laydate实例
    laydate.render({
        elem: '#date2'//指定元素
    });
</script>
</body>

</html>