<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>修改密码</title>
    <div th:replace="~{commons/headdoc.html::headdoc}"></div>
</head>
<body>

<div th:replace="~{commons/topbar.html::topbar}"></div>
<div id="panel" class="container-fluid">
    <div class="row">

        <div th:replace="~{commons/sidebar.html::sidebar(first='setting',second='password')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <form th:action="@{/user/password}" method="post">
                <div class="form-group">
                    <label>请输入旧密码</label>
                    <input type="password" required class="form-control" id="old" name="old">
                </div>
                <div class="form-group">
                    <label>请输入新密码</label>
                    <input type="password" required class="form-control" id="new" name="new">
                </div>
                <div class="form-group">
                    <label>请重新输入新密码</label><br/>
                    <input type="password" class="form-control" name="new2" required>
                </div>
                <button type="submit" class="btn btn-primary">确认</button>
            </form>
            <div>
                <button style="display: none" id="alert_demo_3_2"> Error</button>
                <button style="display: none" id="alert_demo_3_3"> Success</button>
            </div>
        </main>
    </div>
</div>
<div th:replace="~{commons/jsdoc.html::jsdoc}"></div>

</body>
</html>