<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>User Sign in</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/signin.css}" rel="stylesheet">

	<script type="text/javascript" src="/js/sky/ThreeWebGL.js"></script>
	<script type="text/javascript" src="/js/sky/ThreeExtras.js"></script>
	<script type="text/javascript" src="/js/sky/Detector.js"></script>
</head>

<body class="text-center">

	<div class="frame">
		<form class="form-signin" th:action="@{/user/login}" method="post">
			<h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">Please sign in</h1>
			<!-- 如果msg不为空，显示这行代码 -->
			<p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
			<input type="text" class="form-control" name="uid" th:placeholder="#{login.username}" required="" autofocus="">
			<input type="password" class="form-control" name="pwd" th:placeholder="#{login.password}" required="">


<!--			<div class="checkbox mb-3">-->
<!--				<label>-->
<!--					<input type="checkbox" value="remember">[[#{login.remember}]]-->
<!--				</label>-->
<!--			</div>-->

			<button class="btn btn-lg btn-primary btn-block" style="width: 100px;position: absolute;" type="submit">[[#{login.btn}]]</button>
			<a class="btn btn-lg btn-primary btn-block" style="width: 100px;margin-left: 200px;" href="/user/register">[[#{login.register}]]</a>
			<p class="mt-5 mb-3 text-muted">© 2020/6/17</p>
			<a class="btn btn-sm" th:href="@{/index(lang='zh_CN')}">中文</a>
			<a class="btn btn-sm" th:href="@{/index(lang='en_US')}">English</a>
		</form>
		<div>
			<button style="display: none" id="alert_demo_3_2"> Error</button>
			<button style="display: none" id="alert_demo_3_3"> Success</button>
		</div>
	</div>

	<div th:replace="~{commons/jsdoc.html::jsdoc}"></div>
	<script id="vs" type="x-shader/x-vertex">
		varying vec2 vUv; void main() { vUv = uv; gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 ); }
	</script>
	<script id="fs" type="x-shader/x-fragment">
		uniform sampler2D map; uniform vec3 fogColor; uniform float fogNear; uniform float fogFar; varying vec2 vUv; void main() { float depth = gl_FragCoord.z / gl_FragCoord.w; float fogFactor = smoothstep( fogNear, fogFar, depth ); gl_FragColor = texture2D( map, vUv ); gl_FragColor.w *= pow( gl_FragCoord.z, 20.0 ); gl_FragColor = mix( gl_FragColor, vec4( fogColor, gl_FragColor.w ), fogFactor ); }
	</script>

	<script type="text/javascript" src="/js/sky/sky.js"></script>
	<script th:src="@{/js/core/jquery.3.2.1.min.js}"></script>
	<script th:src="@{/js/core/jquery.cookie.js}"></script>
	<script>
		$.cookie('theme','white',{ expires: 7, path: '/' });
	</script>
</body>

</html>